@use "../../variables" as *;

.basket-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: $color-primary-100;
  padding: 0.25rem;
  border-radius: 2rem;
  border: 1px solid $color-primary-500;
  width: fit-content;

  &.compact {
    padding: 0;
    border-radius: 0.5rem;

    .add-to-basket {
      border-radius: 0 0.5rem 0.5rem 0;
    }
    
    .remove-from-basket {
      border-radius: 0.5rem 0 0 0.5rem;
    }

    .add-to-basket, .remove-from-basket {
      padding: 0.25rem;
      border: none;

      background-color: transparent;
      color: $color-primary-500;

      &:hover {
        background-color: $color-primary-200;
      }
    }

    .quantity {
      width: 2rem;
      font-size: $text-sm;
    }
  }
}

.add-to-basket, .remove-from-basket {
  display: flex;
  align-items: center;

  background-color: $color-primary-500;
  border: 1px solid $color-primary-500;
  border-radius: 2rem;
  padding: 0.5rem;
  aspect-ratio: 1 / 1;

  font-size: $text-md;
  font-weight: 700;
  color: $color-gray-100;

  transition-property: background-color, color, border-color;
  transition-duration: 0.2s;

  &:hover {
    background-color: $color-primary-600;
  }

  &:disabled {
    background-color: $color-gray-100;
    border: 1px solid $color-gray-300;
    color: $color-gray-400;
  }
}

.quantity {
  width: 4rem;
  font-size: $text-md;
  font-weight: 600;
  text-align: center;
  color: $color-primary-900;

  &::selection {
    background-color: transparent;
  }
}