@use "../../../variables" as *;

.input-group {
  position: relative;
}

.input {
  display: block;

  padding-inline: 1rem;
  padding-bottom: 0.75rem;
  padding-top: 1rem;

  width: 100%;

  background: $color-gray-50;
  border-radius: 0.5rem;

  border: 1px solid $color-gray-600;

  color: $color-gray-900;
  font-size: $text-sm;

  transition-property: border;
  transition-duration: 0.15s;

  &.input-password {
    padding-right: 3.5rem;
  }

  &:focus-visible {
    outline: none;
    border: 1px solid $color-primary-600;
  }
}

.label {
  position: absolute;
  top: 0.5rem;
  inset-inline-start: 1rem;
  z-index: 10;

  font-size: $text-sm;
  color: $color-gray-700;

  padding-inline: 0.25rem;

  background-color: $color-gray-50;

  pointer-events: none;

  transform-origin: 0;
  transform: translate(-0.125rem, -1rem) scale(0.75);

  transition-property: color, transform, inset;
  transition-duration: 0.15s;
}

.input:placeholder-shown + .label {
  top: 50%;
  color: $color-gray-500;
  transform: translate(-0.125rem, -50%) scale(1);
}

.input:focus + .label {
  top: 0.5rem;
  color: $color-primary-600;
  transform: translate(-0.125rem, -1rem) scale(0.75);
}

.toggle-password {
  position: absolute;
  inset: 0.25rem;
  left: auto;

  display: grid;
  align-items: center;
  justify-content: center;

  background-color: $color-gray-50;
  border-radius: 0 0.5rem 0.5rem 0;
  padding: 0.5rem;

  cursor: pointer;

  transition-property: background-color, color;
  transition-duration: 0.15s;

  &:hover {
    background-color: $color-gray-100;
    color: $color-primary-600;
  }
}

.toggle-password-icon {
  font-size: $text-lg;
}
