@use "variables" as *;

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-size: $text-md;
  font-family: "Inter", sans-serif;
}

body {
  background-color: $color-gray-50;
}

input {
  appearance: none;
  outline: none;
  border: none;

  &[type="submit"]:not([disabled]) {
    cursor: pointer;
  }
}

a.link {
  color: $color-primary-400;
  text-decoration: none;
  text-underline-offset: 0.125rem;
  font-weight: 500;

  &:hover {
    color: $color-primary-500;
    text-decoration: underline;
  }
}