@use "variables" as *;

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: "slnt" 0;
}

#root {
  display: contents;
}

body {
  position: relative;
  background-color: $color-gray-50;
  min-height: 100vh;
  }
  
  main.main-app {
    max-width: $screen-xl;
    margin-inline: auto;
    margin-bottom: 5rem;
    padding: 0.625rem;
}

input {
  appearance: none;
  outline: none;
  border: none;

  &[type="submit"]:not([disabled]) {
    cursor: pointer;
  }
}

a {
  text-decoration: none;
  
  &.link {
    color: $color-primary-400;
    text-underline-offset: 0.125rem;
    font-weight: 500;

    &:hover, &:focus-visible {
      color: $color-primary-500;
      text-decoration: underline;
    }
  }
  
  &:focus-visible {
    position: relative;
    outline: none;  

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      outline: 2px solid $color-primary-400;
      outline-offset: 0.125rem;
    }
  }
}

button {
  appearance: none;
  outline: none;
  border: none;
  
  &:not([disabled]) {
    cursor: pointer;
  }
}

li {
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

i[data-icon] {
  display: contents;

  &::before {
    content: attr(data-icon);
    font-family: "Material Symbols Rounded";
    font-style: normal;
    text-transform: none;
    display: inline-block;
    width: calc(8px + 1em);
    text-align: center;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-feature-settings: "liga";
  }
}