@use "../../variables" as *;

.form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 100%;
  max-width: $screen-xs;
  min-height: 100dvh;

  padding: 2rem;

  @media (min-width: $screen-md) {
    padding: 4rem;
  }
}


.form-heading {
  font-size: $text-2xl;
  font-weight: 600;
  color: $color-gray-900;

  margin-bottom: 0.5rem;
}

.form-subheading {
  font-size: $text-md;
  font-weight: 400;
  color: $color-gray-600;

  margin-bottom: 2rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.submit-button {
  padding: 0.875rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid transparent;

  background-color: $color-primary-400;

  font-size: $text-sm;
  font-weight: 500;
  color: $color-gray-50;

  transition-property: background-color, color, border;
  transition-duration: 0.15s;
  transition-timing-function: ease-in-out;

  &:hover {
    background-color: $color-primary-500;
  }

  &:disabled {
    background: $color-gray-200;
    border: 1px solid $color-gray-400;
    color: $color-gray-400;
  }
}

